<h1>Add a New Director</h1>

<form action="/create_director">
  <div>
    <label for="director_name_input">
      Director Name
    </label>

    <textarea id="director_name_input" type="text" name="director_name"></textarea>
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <textarea id="bio_input" type="text" name="director_bio"></textarea>
  </div>
  
  <div>
    <label for="dob_input">
      Dob
    </label>

    <textarea id="dob_input" type="text" name="director_dob"></textarea>
  </div>
  
  <div>
    <label for="image_input">
      Image url
    </label>

    <textarea id="image_input" type="text" name="adirector_image"></textarea>
  </div>

  <button>
    Create director
  </button>
</form>