<h1>Add a New Movie</h1>

<form action="/create_movie">
  <div>
    <label for="movie_title_input">
      Title
    </label>

    <textarea id="movie_title_input" type="text" name="movie_title"></textarea>
  </div>

  <div>
    <label for="year_input">
      Year
    </label>

    <textarea id="year_input" type="text" name="movie_year"></textarea>
  </div>
  
  <div>
    <label for="duration_input">
      Duration
    </label>

    <textarea id="duration_input" type="text" name="movie_duration"></textarea>
  </div>
  
  <div>
    <label for="description_input">
      Description
    </label>

    <textarea id="description_input" type="text" name="movie_description"></textarea>
  </div>
  
  <div>
    <label for="image_input">
      Image url
    </label>

    <textarea id="image_input" type="text" name="movie_image"></textarea>
  </div>

  <button>
    Create movie
  </button>
</form>