<h1>Add a New Actor</h1>

<form action="/create_actor">
  <div>
    <label for="actor_name_input">
      Actor Name
    </label>

    <textarea id="actor_name_input" type="text" name="actor_name"></textarea>
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <textarea id="bio_input" type="text" name="actor_bio"></textarea>
  </div>
  
  <div>
    <label for="dob_input">
      Dob
    </label>

    <textarea id="dob_input" type="text" name="actor_dob"></textarea>
  </div>
  
  <div>
    <label for="image_input">
      Image url
    </label>

    <textarea id="image_input" type="text" name="actor_image"></textarea>
  </div>

  <button>
    Create actor
  </button>
</form>