<h1>Add a New Actor</h1>

<form action="/create_actor">
  <div>
    <label for="actor_name_input">
      Actor Name
    </label>

    <input id="actor_name_input" type="text" name="actor_name">
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <input id="bio_input" type="text" name="actor_bio">
  </div>
  
  <div>
    <label for="dob_input">
      DOB
    </label>

    <input id="dob_input" type="text" name="actor_dob">
  </div>
  
  <div>
    <label for="image_input">
      Image URL
    </label>

    <input id="image_input" type="text" name="actor_image">
  </div>

  <button>
    Create Actor
  </button>
</form>